<div class="container candidate-lectures-times">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/candidate-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/lectures-summary']" routerLinkActive="router-link-active">Pregled obuke</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/candidate-pages/lectures-times']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/candidate-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="lectures-data">
            <h5>Rezervisanje termina za dan 15.08.2021.</h5>
            <div class="row">
                <table id="lectures-table">
                    <tr>
                        <th>Termin</th>
                        <th>
                            <button class="btn edit-btn">Odaberi</button>
                        </th>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>rezervisan</td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>rezervisan</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>
                            <button class="btn confirm-btn">
                                Rezerviši
                            </button>
                            <button class="btn cancel-btn">
                                Odustani
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>rezervisan</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>












