<div class="container instructors-list">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/main']" routerLinkActive="router-link-active" >Početna</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-candidate/candidates-list']" routerLinkActive="router-link-active" >Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/admin-instructor/instructors-list']" routerLinkActive="router-link-active" >Instruktori</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-vehicle/vehicles-list']" routerLinkActive="router-link-active" >Vozila</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin-notification/notifications-list']" routerLinkActive="router-link-active" >Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
       <div class="col-md-8">
           <div class="row search-wrapper">
               <div class="col-md-10">
                   <input type="text" class="search-list" placeholder="Pretraži listu instruktora" [(ngModel)]='listFilter'/>
               </div>
               <div class="col-md-2">
                   <button class="btn btn-secondary" [routerLink]="['/admin-instructor/add-instructor']" routerLinkActive="router-link-active" >Dodaj</button>
               </div>
           </div>
           <div class="row list-wrapper">
               <div class="col-md-12 list-container">
                  <div class="row instructor" *ngFor="let instructor of filteredInstructors">
                      <div class="col-md-9">
                          <p>{{instructor.ime}} {{instructor.prezime}}</p>
                      </div>
                      <div class="col-md-3">
                          <button [routerLink]="['/admin-instructor/edit-instructor', instructor.id]" routerLinkActive="router-link-active" >Uredi</button>
                          <button (click)="deleteInstructor(instructor.id)">Obriši</button>
                      </div>
                  </div>
               </div>
               <div class="col-md-12 empty-list" *ngIf="filteredInstructors.length === 0">
                   <p>Nema pronađenih instruktora</p>
               </div>
           </div>
           <ngb-pagination class="pagination" [collectionSize]="totalCount" 
           [pageSize]="pageSize"
           [(page)]="currentPage"
           [maxSize]="3"
           [rotate]="true"
           [boundaryLinks]="true">
           </ngb-pagination>
       </div>
       <div class="col-md-4">
          <app-side-panels></app-side-panels>
        </div>
    </div>
</div>




