<div class="content-wrapper">
    <h5>Notifikacije</h5>
    <div class="notifications-wrapper">
      <div class="notification" *ngFor="let notification of notificationsForAdmin; let i='index'">
        <p [ngClass]="{'red': notification.state === 'novo', 'blue': notification.state === 'u toku', 'green': notification.state === 'završeno'}">- {{notification.title}}</p>
        <div class="notification-body">
          <p>{{notification.createdAt | date: 'd/M/yyyy'}}</p>
          <p>{{notification.body}}</p>
          <p>{{notification.sender}}</p>
        </div>
        <div class="images-wrapper">
          <a *ngIf="checkVisible" [ngClass]="{'displayNone': i !== setNumber }">
            <i class="fas fa-check" (click)="changeState(notification.id)"></i>
          </a>
          <a *ngIf="checkVisible" (click)="cancelEditNotification()" [ngClass]="{'displayNone': i !== setNumber }" title="Odustani od editovanja notifikacije">
            <i class="fas fa-undo"></i>
          </a>
          <select [(ngModel)]="selectedStateId" name="selectedStateId" class="statesDropdown" *ngIf="checkVisible" [ngClass]="{'displayNone': i !== setNumber }">
            <option *ngFor="let state of states" value ="{{state.id}}" >{{state.naziv}}</option>
          </select>
          <a *ngIf="!checkVisible" (click)="openEditNotification(i)">
            <i class="fas fa-wrench"></i>
          </a>
          <ngbd-modal-options (deleteItemEvent)="deleteNotificationForAdmin(notification.id)" *ngIf="!checkVisible" title="Obriši notifikaciju"></ngbd-modal-options>
        </div>
      </div>
      <div *ngIf="notificationsForAdmin.length === 0" class="blank-list">
        <p>Trenutno nemate notifikacija</p>
      </div>
    </div>

    <h5>Podsjetnici</h5>
    <div class="reminders-wrapper">
      <div class="reminder" *ngFor="let reminder of reminders">
        <p>- {{reminder.text}}</p>
        <div class="images-wrapper">
          <a (click)="deleteReminder(reminder.id)">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="input-wrapper" *ngIf="reminderInputVisible">
        <input class="reminder-input" name="reminderText" type="text" placeholder="Unesite podsjetnik" [(ngModel)]="reminder.text" #reminderInput = ngModel minlength='5'
        [ngClass]="{'input-invalid':reminderInput.touched && !reminderInput.valid}"/>
        <i class="fas fa-check" (click)="addReminder()"></i>
        <i class="fas fa-times ml-2" (click)="cancelReminderAdding()"></i>
        <p class="text-invalid" *ngIf="reminderInput.touched && !reminderInput.valid">Morate unijeti minimalno 5 karaktera</p>
      </div>
      <button class="add-reminder" (click)="showReminderInput()">Novi podsjetnik</button>
    </div>
  </div>
