<div class="content-wrapper">
    <h5>Notifikacije</h5>
    <div class="notifications-wrapper">
      <div class="notification" *ngFor="let notification of notificationsForAdmin">
        <p>- {{notification.title}}</p>
        <div class="notification-body">
          <p>{{notification.createdAt | date: 'd/M/yy'}}</p>
          <p>{{notification.body}}</p>
          <p>{{notification.sender}}</p>
        </div>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-wrench"></i>
          </a>
          <ngbd-modal-options (deleteItemEvent)="deleteNotificationForAdmin(notification.id)"></ngbd-modal-options>
        </div>
      </div>
      <div *ngIf="notificationsForAdmin.length === 0" class="blank-list">
        <p>Trenutno nemate notifikacija</p>
      </div>
    </div>

    <h5>Podsjetnici</h5>
    <div class="reminders-wrapper">
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="input-wrapper">
        <input class="reminder-input" type="text" placeholder="Unesi podsjetnik" />
        <i class="fas fa-check"></i>
        <i class="fas fa-times ml-2"></i>
      </div>
      <button class="add-reminder">Novi podsjetnik</button>
    </div>
  </div>
