<div class="content-wrapper">
    <h5>Notifikacije</h5>
    <div class="notifications-wrapper">
      <div class="notification">
        <p>- A23-M-356 kvar</p>
        <div class="notification-body">
          <p>Danas je došlo do curenja ulja na autu, pa sam morao da otkažem svu obuku</p>
        </div>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-wrench"></i>
          </a>
          <ngbd-modal-options></ngbd-modal-options>
          <!-- <a href="#">
            <i class="fas fa-times"></i>
          </a> -->
        </div>
      </div>
      <div class="notification">
        <p>- A23-M-356 kvar</p>
        <div class="notification-body">
          <p>Danas je došlo do curenja ulja na autu, pa sam morao da otkažem svu obuku</p>
        </div>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-wrench"></i>
          </a>
          <ngbd-modal-options></ngbd-modal-options>
          <!-- <a href="#">
            <i class="fas fa-times"></i>
          </a> -->
        </div>
      </div>
      <div class="notification">
        <p>- A23-M-356 kvar</p>
        <div class="notification-body">
          <p>Danas je došlo do curenja ulja na autu, pa sam morao da otkažem svu obuku</p>
        </div>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-wrench"></i>
          </a>
          <ngbd-modal-options></ngbd-modal-options>
          <!-- <a href="#">
            <i class="fas fa-times"></i>
          </a> -->
        </div>
      </div>
      <div class="notification">
        <p>- A23-M-356 kvar</p>
        <div class="notification-body">
          <p>Danas je došlo do curenja ulja na autu, pa sam morao da otkažem svu obuku</p>
        </div>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-wrench"></i>
          </a>
          <ngbd-modal-options></ngbd-modal-options>
          <!-- <a href="#">
            <i class="fas fa-times"></i>
          </a> -->
        </div>
      
      </div>
    </div>

    <h5>Podsjetnici</h5>
    <div class="reminders-wrapper">
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="reminder">
        <p>- A23-M-356 kvar</p>
        <div class="images-wrapper">
          <a href="#">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="input-wrapper">
        <input class="reminder-input" type="text" placeholder="Unesi podsjetnik" />
        <i class="fas fa-check"></i>
        <i class="fas fa-times ml-2"></i>
      </div>
      <button class="add-reminder">Novi podsjetnik</button>
    </div>
  </div>
