<div class="container lectures-times">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/instructor-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/candidates']" routerLinkActive="router-link-active">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/vehicle']" routerLinkActive="router-link-active">Vozilo</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/instructor-pages/lectures']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/instructor-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="personal-data">
            <h5>Definisanje datuma i termina obuke</h5>
            <div class="row">
                <form (ngSubmit)="submitTimesForm(timesForm)" #timesForm="ngForm">
                    <div class="col-md-12 d-flex align-items-start">
                        <div class="datepicker">
                            <ngb-datepicker name="date" [(ngModel)]="lectureTimes.datumObuke"></ngb-datepicker>
                        </div>
                        <div class="times d-flex align-items-start">
                            <div class="time">
                                <p class="time-header">Termin 1</p>
                                <div class="timepicker">
                                    <ngb-timepicker name="termin1" [(ngModel)]="vremena[0]"></ngb-timepicker>
                                </div>
                            </div>
                            <div class="time">
                                <p class="time-header">Termin 2</p>
                                <div class="timepicker">
                                    <ngb-timepicker name="termin2"  [(ngModel)]="vremena[1]"></ngb-timepicker>
                                </div>
                            </div>
                            <div class="time">
                                <p class="time-header">Termin 3</p>
                                <div class="timepicker">
                                    <ngb-timepicker name="termin3"  [(ngModel)]="vremena[2]"></ngb-timepicker>
                                </div>
                            </div>
                            <div class="time">
                                <p class="time-header">Termin 4</p>
                                <div class="timepicker">
                                    <ngb-timepicker name="termin4"  [(ngModel)]="vremena[3]"></ngb-timepicker>
                                </div>
                            </div>
                            <div class="time">
                                <p class="time-header">Termin 5</p>
                                <div class="timepicker">
                                    <ngb-timepicker name="termin5"  [(ngModel)]="vremena[4]"></ngb-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn confirm-data-btn">Potvrdi</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="lectures-data">
            <h5>Rezervisanje termina</h5>
            <div class="row">
                <table id="lectures-table">
                    <tr>
                        <th>Termin</th>
                        <th>Kandidat</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{lectureTimes.termini[0].time.hour}}:{{lectureTimes.termini[0].time.minute}}</td>
                        <td>
                            <span *ngIf="lectureTimes.termini[0].kandidat !== ''">{{lectureTimes.termini[0].kandidat}}</span>
                            <select [(ngModel)]="selectedCandidate0" name="selectedCandidate0" *ngIf="lectureTimes.termini[0].kandidat === '' && allCandidates.length !== 0">
                                <option>Izaberi kandidata</option>
                                <option *ngFor="let candidate of allCandidates" value ="{{candidate.imePrezime}}" >{{candidate.imePrezime}}</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="lectureTimes.termini[0].rezervisan">rezervisan</span>
                            <button class="btn confirm-btn" *ngIf="!lectureTimes.termini[0].rezervisan && allCandidates.length !== 0" (click)="setCandidateTime(lectureTimes.termini[0].id)">
                                Rezerviši
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{lectureTimes.termini[1].time.hour}}:{{lectureTimes.termini[1].time.minute}}</td>
                        <td>
                            <span *ngIf="lectureTimes.termini[1].kandidat !== ''">{{lectureTimes.termini[1].kandidat}}</span>
                            <select [(ngModel)]="selectedCandidate1" name="selectedCandidate1" *ngIf="lectureTimes.termini[1].kandidat === '' && allCandidates.length !== 0">
                                <option>Izaberi kandidata</option>
                                <option *ngFor="let candidate of allCandidates" value ="{{candidate.imePrezime}}" >{{candidate.imePrezime}}</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="lectureTimes.termini[1].rezervisan">rezervisan</span>
                            <button class="btn confirm-btn" *ngIf="!lectureTimes.termini[1].rezervisan && allCandidates.length !== 0" (click)="setCandidateTime(lectureTimes.termini[1].id)">
                                Rezerviši
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{lectureTimes.termini[2].time.hour}}:{{lectureTimes.termini[2].time.minute}}</td>
                        <td>
                            <span *ngIf="lectureTimes.termini[2].kandidat !== ''">{{lectureTimes.termini[2].kandidat}}</span>
                            <select [(ngModel)]="selectedCandidate2" name="selectedCandidate2" *ngIf="lectureTimes.termini[2].kandidat === '' && allCandidates.length !== 0">
                                <option>Izaberi kandidata</option>
                                <option *ngFor="let candidate of allCandidates" value ="{{candidate.imePrezime}}" >{{candidate.imePrezime}}</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="lectureTimes.termini[2].rezervisan">rezervisan</span>
                            <button class="btn confirm-btn" *ngIf="!lectureTimes.termini[2].rezervisan && allCandidates.length !== 0" (click)="setCandidateTime(lectureTimes.termini[2].id)">
                                Rezerviši
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{lectureTimes.termini[3].time.hour}}:{{lectureTimes.termini[3].time.minute}}</td>
                        <td>
                            <span *ngIf="lectureTimes.termini[3].kandidat !== ''">{{lectureTimes.termini[3].kandidat}}</span>
                            <select [(ngModel)]="selectedCandidate3" name="selectedCandidate3" *ngIf="lectureTimes.termini[3].kandidat === '' && allCandidates.length !== 0">
                                <option>Izaberi kandidata</option>
                                <option *ngFor="let candidate of allCandidates" value ="{{candidate.imePrezime}}" >{{candidate.imePrezime}}</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="lectureTimes.termini[3].rezervisan">rezervisan</span>
                            <button class="btn confirm-btn" *ngIf="!lectureTimes.termini[3].rezervisan && allCandidates.length !== 0" (click)="setCandidateTime(lectureTimes.termini[3].id)">
                                Rezerviši
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{lectureTimes.termini[4].time.hour}}:{{lectureTimes.termini[4].time.minute}}</td>
                        <td>
                            <span *ngIf="lectureTimes.termini[4].kandidat !== ''">{{lectureTimes.termini[4].kandidat}}</span>
                            <select [(ngModel)]="selectedCandidate4" name="selectedCandidate4" *ngIf="lectureTimes.termini[4].kandidat === '' && allCandidates.length !== 0">
                                <option>Izaberi kandidata</option>
                                <option *ngFor="let candidate of allCandidates" value ="{{candidate.imePrezime}}" >{{candidate.imePrezime}}</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="lectureTimes.termini[4].rezervisan">rezervisan</span>
                            <button class="btn confirm-btn" *ngIf="!lectureTimes.termini[4].rezervisan && allCandidates.length !== 0" (click)="setCandidateTime(lectureTimes.termini[4].id)">
                                Rezerviši
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>











