<div class="container">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Početna</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" href="#">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" href="#">Instruktori</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" href="#">Vozila</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
       <div class="col-md-8">
         <div class="row">
           <div class="col-md-6">
             <a [routerLink]="['/kandidati']" routerLinkActive="router-link-active"  class="card-wrapper">
              <div class="image-wrapper">
                <img src="../../assets/images/kandidati.png" alt="candidates">
                <p>Kandidati</p>
              </div>
             </a>
           </div>
           <div class="col-md-6">
             <a [routerLink]="['/instruktori']" routerLinkActive="router-link-active"  class="card-wrapper">
              <div class="image-wrapper">
                <img src="../../assets/images/instruktori.png" alt="instructors">
                <p>Instruktori</p>
              </div>
             </a>
           </div>
         </div>
         <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/vozila']" routerLinkActive="router-link-active"  class="card-wrapper">
              <div class="image-wrapper">
                <img src="../../assets/images/vozila.jpg" alt="vehicles">
                <p>Vozila</p>
              </div>
            </a>
          </div>
          <div class="col-md-6">
             <a [routerLink]="['/notifikacije']" routerLinkActive="router-link-active"  class="card-wrapper">
              <div class="image-wrapper">
                <img src="../../assets/images/notifikacije.jpg" alt="notifications">
                <p>Notifikacije</p>
              </div>
            </a>
          </div>
        </div>
       </div>
       <div class="col-md-4">
          <div class="content-wrapper">
            <h5>Notifikacije</h5>
            <div class="notifications-wrapper">
              <div class="notification">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-wrench"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="notification">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-wrench"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="notification">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-wrench"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="notification">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-wrench"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
            </div>

            <h5>Podsjetnici</h5>
            <div class="reminders-wrapper">
              <div class="reminder">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="reminder">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="reminder">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="reminder">
                <p>- A23-M-356 kvar</p>
                <div class="images-wrapper">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="input-wrapper">
                <input class="reminder-input" type="text" placeholder="Unesi podsjetnik"/>
                <i class="fas fa-check"></i>
                <i class="fas fa-times ml-2"></i>
              </div>
              <button class="add-reminder">Novi podsjetnik</button>
            </div>
          </div>
       </div>
    </div>
</div>


