<div class="container edit-instructor">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/main']" routerLinkActive="router-link-active" >Početna</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-candidate/candidates-list']" routerLinkActive="router-link-active" >Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/admin-instructor/instructors-list']" routerLinkActive="router-link-active" >Instruktori</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-vehicle/vehicles-list']" routerLinkActive="router-link-active" >Vozila</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin-notification/notifications-list']" routerLinkActive="router-link-active" >Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
       <div class="col-md-8">
           <form (ngSubmit)="submitEditInstructorForm(editInstructorForm)"
           #editInstructorForm="ngForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="image-wrapper">
                            <img src="{{instructor.slika}}" alt="avatar">
                        </div>
                        <button type="button" class="btn btn-success submit-image-button">Nova slika</button>
                    </div>
                    <div class="col-md-9">
                        <h5>Lični podaci</h5>
                        <div class="form-group">
                            <label for="ime">Ime:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="ime" aria-describedby="ime" placeholder="Ime"
                            required
                            minlength="3"
                            [(ngModel)] = "instructor.ime"
                            name="ime"
                            #imeVar = "ngModel"
                            [ngClass]="{'input-invalid':imeVar.touched && !imeVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="imeVar.touched && imeVar.errors?.required">Unesite ime</span>
                        <span class="text-invalid" *ngIf="imeVar.touched && imeVar.errors?.minlength">Ime mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="prezime">Prezime:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="prezime" 
                            placeholder="Prezime"
                            required
                            minlength="3"
                            [(ngModel)] = "instructor.prezime"
                            name="prezime"
                            #prezimeVar = "ngModel"
                            [ngClass]="{'input-invalid':prezimeVar.touched && !prezimeVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="prezimeVar.touched && prezimeVar.errors?.required">Unesite prezime</span>
                        <span class="text-invalid" *ngIf="prezimeVar.touched && prezimeVar.errors?.minlength">Prezime mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="imeOca">Ime oca:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="imeOca" 
                            placeholder="Ime oca"
                            required
                            minlength="3"
                            [(ngModel)] = "instructor.imeOca"
                            name="imeOca"
                            #imeOcaVar = "ngModel"
                            [ngClass]="{'input-invalid':imeOcaVar.touched && !imeOcaVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="imeOcaVar.touched && imeOcaVar.errors?.required">Unesite ime oca</span>
                        <span class="text-invalid" *ngIf="imeOcaVar.touched && imeOcaVar.errors?.minlength">Ime oca mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="jmbg">JMBG:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="jmbg" 
                            placeholder="JMBG"
                            required
                            minlength="13"
                            maxlength="13"
                            [(ngModel)] = "instructor.jmbg"
                            name="jmbg"
                            #jmbgVar = "ngModel"
                            [ngClass]="{'input-invalid':jmbgVar.touched && !jmbgVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="jmbgVar.touched && jmbgVar.errors?.required">Unesite JMBG</span>
                        <span class="text-invalid" *ngIf="jmbgVar.touched && jmbgVar.errors?.minlength || jmbgVar.errors?.maxlength">JMBG mora imati tačno 13 karaktera</span>
                        <div class="form-group">
                            <label for="mjestoRodjenja">Mjesto rođenja:</label>
                            <input type="text" class="form-control" id="mjestoRodjenja" 
                            placeholder="Mjesto rođenja"
                            minlength="2"
                            [(ngModel)] = "instructor.mjestoRodjenja"
                            name="mjestoRodjenja"
                            #mjestoRodjenjaVar = "ngModel"
                            [ngClass]="{'input-invalid':mjestoRodjenjaVar.touched && !mjestoRodjenjaVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="mjestoRodjenjaVar.touched && mjestoRodjenjaVar.errors?.minlength">Mjesto rođenja mora imati minimalno 2 karaktera</span>
                        <div class="form-group">
                            <label for="drzavljanstvo">Državljanstvo:</label>
                            <input type="text" class="form-control" id="drzavljanstvo" placeholder="Državljanstvo"
                            required
                            minlength="3"
                            [(ngModel)] = "instructor.drzavljanstvo"
                            name="drzavljanstvo"
                            #drzavljanstvoVar = "ngModel"
                            [ngClass]="{'input-invalid':drzavljanstvoVar.touched && !drzavljanstvoVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="drzavljanstvoVar.touched && drzavljanstvoVar.errors?.minlength">Državljanstvo mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="brojLk">Broj lk/pasoša:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="brojLk" 
                            placeholder="Broj lk/pasoša"
                            required
                            minlength="7"
                            [(ngModel)] = "instructor.brojLk"
                            name="brojLk"
                            #brojLkVar = "ngModel"
                            [ngClass]="{'input-invalid':brojLkVar.touched && !brojLkVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="brojLkVar.touched && brojLkVar.errors?.required">Unesite broj lk/pasoša</span>
                        <span class="text-invalid" *ngIf="brojLkVar.touched && brojLkVar.errors?.minlength">Broj lk/pasoša mora imati minimalno 7 karaktera</span>
                        <div class="form-group">
                            <label for="brojDozvole">Broj dozvole:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" 
                            id="brojDozvole" 
                            placeholder="Broj dozvole"
                            required
                            minlength="7"
                            [(ngModel)] = "instructor.brojDozvole"
                            name="brojDozvole"
                            #brojDozvoleVar = "ngModel"
                            [ngClass]="{'input-invalid':brojDozvoleVar.touched && !brojDozvoleVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="brojDozvoleVar.touched && brojDozvoleVar.errors?.required">Unesite broj instruktorske dozvole</span>
                        <span class="text-invalid" *ngIf="brojDozvoleVar.touched && brojDozvoleVar.errors?.minlength">Broj instruktorske dozvole mora imati minimalno 7 karaktera</span>
                        <div class="form-group">
                            <label for="zaduzenoVozilo">Zaduženo vozilo:</label>
                            <input type="text" class="form-control" 
                            id="zaduzenoVozilo" 
                            placeholder="Zaduži vozilo preko Vozila taba"
                            [(ngModel)] = "instructor.zaduzenoVozilo"
                            name="zaduzenoVozilo" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="telefon">Broj telefona:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" 
                            id="telefon" 
                            placeholder="Broj telefona"
                            required
                            minlength="9"
                            [(ngModel)] = "instructor.telefon"
                            name="telefon"
                            #telefonVar = "ngModel"
                            [ngClass]="{'input-invalid':telefonVar.touched && !telefonVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="telefonVar.touched && telefonVar.errors?.required">Unesite broj telefona</span>
                        <span class="text-invalid" *ngIf="telefonVar.touched && telefonVar.errors?.minlength">Broj telefona mora imati minimalno 9 cifara</span>
                        <div class="form-group">
                            <label for="emailAdresa">Email adresa:<span class="required-flag">*</span></label>
                            <input type="email" class="form-control" 
                            id="emailAdresa" 
                            placeholder="Email adresa"
                            required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            minlength="6"
                            [(ngModel)] = "instructor.emailAdresa"
                            name="emailAdresa"
                            #emailAdresaVar = "ngModel"
                            [ngClass]="{'input-invalid':emailAdresaVar.touched && !emailAdresaVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="emailAdresaVar.touched && (emailAdresaVar.errors?.required || emailAdresaVar.errors?.pattern)">Unesite validnu email adresu</span>
                        <span class="text-invalid" *ngIf="emailAdresaVar.touched && emailAdresaVar.errors?.minlength">Email adresa mora imati minimalno 6 karaktera</span>
                    </div>
                    <div class="tables">
                        <div class="panel-headers">
                            <button type="button" class="btn btn-success panel-button" (click)="showTable('kandidati')">Kandidati</button>
                            <button type="button" class="btn btn-success panel-button" (click)="showTable('seminari')">Seminari</button>
                            <button type="button" class="btn btn-success panel-button" (click)="showTable('dokumenti')">Dokumenti</button>
                        </div>
                        <div *ngIf="showKandidati">
                            <div class="add-section kandidati">
                                <a (click)="showNewCandidateInput()" title="Dodaj novog kandidata"><i class="fas fa-plus-circle mr-2"></i></a>
                                <a (click)="cancelKandidat()" title="Odustani od dodavanja novog kandidata"><i class="fas fa-times-circle"></i></a>
                            </div>
                            <div class="d-flex novi-kandidat" *ngIf="candidatesInputVisible">
                                <span *ngIf="allUnsetCandidates.length === 0" class="noCandidates">Trenutno nema kandidata kojima nije dodijeljen instruktor</span>
                                <div *ngIf="allUnsetCandidates.length > 0">
                                    <span>Odaberi kandidata iz liste:</span>
                                    <select [(ngModel)]="selectedCandidateId" name="selectedCandidateId">
                                        <option *ngFor="let candidate of allUnsetCandidates" value ="{{candidate.id}}" >{{candidate.ime}} {{candidate.prezime}}</option>
                                    </select>
                                    <i class="fas fa-check" (click)="addCandidate()" title="Potvrdite unos"></i>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showSeminari">
                            <div class="add-section seminari">
                                <a (click)="showNewSeminarInput()" title="Dodaj novi seminar"><i class="fas fa-plus-circle mr-2"></i></a>
                                <a (click)="cancelSeminar()" title="Odustani od dodavanja novog seminara"><i class="fas fa-times-circle"></i></a>
                            </div>
                            <div class="d-flex novi-seminar align-items-start" *ngIf="seminarInputVisible">
                                <span class="title">Datum:</span>
                                <div class="form-group datepicker">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd-mm-yyyy"
                                            name="dp" [(ngModel)]="newSeminar.datum" ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                        </div>
                                    </div>
                                </div>
                                <span class="title">Tema:</span>
                                <input type="text" name="newSeminarTema" [(ngModel)]="newSeminar.tema" class="body" autocomplete="off"/>
                                <span class="title">Predavač:</span>
                                <input type="text" name="newSeminarPredavac" [(ngModel)]="newSeminar.predavac" class="body" autocomplete="off"/>
                                
                                <i class="fas fa-check" (click)="addSeminar()" title="Potvrdite unos"></i>
                            </div>
                        </div>
                        <div *ngIf="showDokumenti">
                            <div class="add-section dokumenta" >
                                <a (click)="showNewDocumentInput()" title="Dodaj novi dokument"><i class="fas fa-plus-circle mr-2"></i></a>
                                <a (click)="cancelDokument()" title="Odustani od dodavanja novog dokumenta"><i class="fas fa-times-circle"></i></a>
                            </div>
                            <div class="novi-dokument" *ngIf="documentInputVisible">
                                <input type="file" ng2FileSelect [uploader]="uploader" />
                                <i class="fas fa-check" (click)="addDocument()" title="Upload dokument"></i>
                            </div>
                        </div>
              
                        <table id="kandidati" *ngIf="showKandidati">
                            <tr>
                                <th>Ime i Prezime</th>
                                <th>Datum</th>
                            </tr>
                            <tr *ngFor="let candidate of candidates">
                                <td>{{candidate.imePrezime}}</td>
                                <td>{{candidate.datum | date: 'd/M/yyyy'}}</td>
                            </tr>
                        </table>
                        <table id="seminari" *ngIf="showSeminari" [ngClass]="{'wide-table': !seminarInputVisible}">
                            <tr>
                                <th>Datum pohađanja</th>
                                <th>Tema</th>
                                <th>Predavač</th>
                            </tr>
                            <tr *ngFor="let seminar of seminari">
                                <td>{{seminar.datum.day}}/{{seminar.datum.month}}/{{seminar.datum.year}}</td>
                                <td>{{seminar.tema}}</td>
                                <td>{{seminar.predavac}}</td>
                            </tr>
                        </table>
                        <div id="dokumenti" *ngIf="showDokumenti">
                            <a href="#" *ngFor="let document of documents">{{document}}</a>
                        </div>
                    </div>
                    <div class="submit-buttons-section">
                        <button type="submit" class="btn btn-success submit-button">Sačuvaj</button>
                        <button class="btn btn-danger submit-button ml-3" [routerLink]="['/admin-instructor/instructors-list']" routerLinkActive="router-link-active" >Odustani</button>
                    </div>
                </div>
            </form>
       </div>
       <div class="col-md-4">
          <app-side-panels></app-side-panels>
        </div>
    </div>
</div>






