.edit-instructor {
    &.container {
        background-color: #D4DAD6;
        height: 95vh;
        border: 1px solid gray;
        border-radius: 6px;
        margin-top: 20px;
        .navbar-container {
            border-radius: 10px;
            border: 1px solid grey;
            background-color: #BECFBE;
            .logo-wrapper {
                margin-top: 10px;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                    margin-left: 10px;
                }
                h3 {
                    margin-right: 40px;
                    margin-top: 5px;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            .navbar-wrapper {
                .nav {
                    font-size: 1rem;
                    .border {
                        margin-top: 15px;
                        height: 20px;
                        width: 4px;
                        background-color: green;
                    }
                    .nav-item {
                        margin-bottom: 5px;
                        margin-top: 5px;
                        .nav-link {
                            color: black;
                            font-weight: bold;
                        }
                        .active {
                            border-bottom: 3px solid green;
                        }
                    }
                }
            }
            .logout {
               a {
                   display: inline-block;
                   color: black;
                   font-size: 1rem;
                   font-weight: bold;
                   margin-top: 15px;
                   margin-left: 250px;
               }
            }
        }
        .main-content {
            margin-top: 25px;
            .col-md-8 {
                form {
                    .col-md-3 {
                        .image-wrapper {
                            width: 170px;
                            height: 170px;
                            background-color: grey;
                            margin-left: auto;
                            margin-right: auto;
                            img {
                                max-width: 100%;;
                            }
                        }
                        .submit-image-button {
                            margin-top: 10px;
                            width: 107%;
                            background-color: rgb(0,128,0);
                        }
                    }
                    .col-md-9 {
                        .text-invalid {
                            display: inline-block;
                            color: red;
                            margin: 0 auto 8px 160px;
                            font-size: 0.8rem;
                        }
                        h5 {
                            margin-bottom: 20px;
                        }
                        .form-group {
                            display: flex;
                            align-items: center;
                            margin-bottom: 3px;
                            label {
                                width: 140px;
                                margin-right: 10px;
                            }
                            input {
                                width: 75%;
                                height: 30px;
                                font-size: 1rem;
                                border-radius: 6px;
                                background-color: #BECFBE;
                            }
                            select {
                                padding-top: 0;
                                padding-left: 8px;
                                color: rgb(131,131,131);
                                width: 75%;
                                height: 30px;
                                font-size: 1rem;
                                border-radius: 6px;
                                background-color: #BECFBE;
                            }
                        }
                    } 
                    .tables {
                        .panel-headers {
                            margin-left: 200px;
                            .panel-button {
                                min-width: 150px;
                                background-color: rgb(0,128,0);
                                margin-right: 20px;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        }

                        .add-section {
                            width: 270px;
                            padding-left: 190px;
                            margin-left: auto;
                            margin-right: auto;
                            a {
                                cursor: pointer;
                            }

                            .fas {
                                font-size: 35px;
                                color: rgb(0, 128, 0);
                            }
                        }

                        .novi-kandidat {
                            margin-left: 15px;
                            .noCandidates {
                                color: red;
                            }
                            span {
                                font-weight: bold;
                            }
                            select {
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                            .fas {
                                font-size: 23px;
                                color: green;
                                cursor: pointer;
                            }
                        }

                        .novi-seminar {
                            margin-top: 10px;
                            margin-left: 15px;
                            span {
                                margin-left: 10px;
                                margin-right: 5px;
                            }

                            .datepicker {
                                display: inline-block;
                                margin-top: 0;
                            }

                            .title {
                                padding-top: 7px;
                            }

                            .body {
                                height: 40px;
                                padding-left: 10px;
                            }

                            .fas {
                                padding-top: 7px;
                                margin-left: 15px;
                                cursor: pointer;
                                font-size: 21px;
                                color: green;
                            }
                        }

                        .novi-dokument {
                            margin-left: 15px;
                            .fas {
                                cursor: pointer;
                                font-size: 21px;
                                color: green;
                            }
                        }

                        #kandidati {
                            margin-top: 10px;
                            margin-left: 15px;
                            width: 106%;
                            text-align: center;
                            border: 2px solid rgb(128,128,128);
                            th, td {
                                border: 1px solid rgb(0,128,0);
                                width: 50%;
                                font-size: 13px;
                                padding-top: 4px;
                                padding-bottom: 4px;
                            }
                            th {
                                background-color: rgb(0,128,0);
                                color: white;
                                font-weight: 100;
                                &:first-of-type, &:nth-of-type(2) {
                                    border-right: 1px solid white;
                                }
                            }
                            td {
                                background-color: rgb(190,207,190);
                            }
                        }

                        #seminari {
                            margin-top: 10px;
                            margin-left: 15px;
                            width: 100%;
                            text-align: center;
                            border: 2px solid rgb(128,128,128);
                            &.wide-table {
                                width: 106%;
                            }
                            th, td {
                                border: 1px solid rgb(0,128,0);
                                width: 33.33%;
                                font-size: 13px;
                                padding-top: 4px;
                                padding-bottom: 4px;
                            }
                            th {
                                background-color: rgb(0,128,0);
                                color: white;
                                font-weight: 100;
                                &:first-of-type, &:nth-of-type(2) {
                                    border-right: 1px solid white;
                                }
                            }
                            td {
                                background-color: rgb(190,207,190);
                            }
                        }

                        #dokumenti {
                            margin-top: 10px;
                            margin-left: 15px;
                            width: 106%;
                            border: 2px solid rgb(128,128,128);
                            background-color: rgb(190,207,190);
                            a {
                                text-decoration: none;
                                color: black;
                                display: block;
                                margin-left: 10px;;
                                margin-bottom: 10px;
                                &:first-child {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }

                    .submit-buttons-section {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        .submit-button {
                            margin-top: 30px;
                            min-width: 150px;
                            &.btn-success {
                                background-color: rgb(0,128,0);
                            }
                            &:first-of-type {
                                margin-left: auto;
                            }
                        } 
                    }
                }
            }
            .col-md-4 {
                .content-wrapper {
                    .notifications-wrapper {
                        background-color: #BECFBE;
                        .notification {
                            .notification-body {
                                background-color: #BECFBE !important;
                            }
                        }
                    }
                    .reminders-wrapper {
                        background-color: #BECFBE;
                        .input-wrapper {
                            .reminder-input {
                                border-radius: 6px;
                                margin-left: 10px;
                                margin-right: 10px;
                                padding-left: 10px;
                                background-color: #D4DAD6;
                            }
                            .fas:nth-of-type(2) {
                                color: red;
                                font-size: 1.2rem;
                            }
                        }
                
                        .add-reminder {
                            background-color: rgb(0,128,0);
                        }
                    }
                }
            }
        }
    }
}


