<div class="container notifications">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/instructor-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/candidates']" routerLinkActive="router-link-active">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/vehicle']" routerLinkActive="router-link-active">Vozilo</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/lectures']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/instructor-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="list-data">
            <h5>Primljene notifikacije</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="row search-wrapper">
                        <div class="col-md-12">
                            <input type="text" class="search-list form-control" placeholder="Pretraži listu notifikacija"/>
                        </div>
                    </div>
                    <div class="row list-wrapper">
                        <div class="col-md-12 list-container">
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                            <p>22.02.2020 - Vaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopijuVaša lična karta je istekla, dostavite novu kopiju</p>
                        </div>
                        <!-- <div class="col-md-12 empty-list">
                            <p>Nema pronađenih kandidata</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="send-notification">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Pošalji notifikaciju</h5>
                        <div class="form-group">
                            <label for="naslov">Naslov:</label>
                            <input type="text" class="form-control" id="naslov" aria-describedby="naslov" placeholder="Naslov">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="notification-body" name="notificationBody" placeholder="Ovdje unesite sadržaj notifikacije" rows="5" cols="70"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success submit-button">Pošalji</button>
                        <button class="btn btn-danger submit-button ml-3" [routerLink]="['/admin-notification/notifications-list']" routerLinkActive="router-link-active">Odustani</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>












