<div class="container notifications">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/instructor-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/candidates']" routerLinkActive="router-link-active">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/vehicle']" routerLinkActive="router-link-active">Vozilo</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/lectures']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/instructor-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="list-data">
            <h5>Primljene notifikacije</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="row search-wrapper">
                        <div class="col-md-12">
                            <input type="text" class="search-list form-control" placeholder="Pretraži listu notifikacija" [(ngModel)]='listFilter'/>
                        </div>
                    </div>
                    <div class="row list-wrapper">
                        <div class="col-md-12 list-container">
                            <p *ngFor="let notification of filteredNotifications">{{notification.datumSlanja | date: 'd/M/yyyy'}} - {{notification.naslov}} - {{notification.notificationTekst}}</p>
                            <div class="col-md-12 empty-list" *ngIf="filteredNotifications.length === 0">
                            <p>Nema pronađenih notifikacija</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="send-notification">
            <form (ngSubmit)="submitSendNotificationForm(sendNotificationForm)"
            #sendNotificationForm="ngForm">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Pošalji notifikaciju</h5>
                        <div class="form-group">
                            <label for="title">Naslov:</label>
                            <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Naslov"
                            required
                            minlength="5"
                            [(ngModel)] = "newNotification.title"
                            name="title"
                            #naslovVar = "ngModel"
                            [ngClass]="{'input-invalid':naslovVar.touched && !naslovVar.valid}" autocomplete="off">
                        </div>
                        <span class="text-invalid" *ngIf="naslovVar.touched && naslovVar.errors?.required">Unesite naslov</span>
                        <span class="text-invalid" *ngIf="naslovVar.touched && naslovVar.errors?.minlength">Naslov mora imati minimalno 5 karaktera</span>
                        <div class="form-group">
                            <textarea class="form-control" id="body" name="body"
                            placeholder="Ovdje unesite sadržaj notifikacije" 
                            rows="5" 
                            cols="70"
                            required
                            minlength="5"
                            [(ngModel)] = "newNotification.body"
                            #bodyVar = "ngModel"
                            [ngClass]="{'input-invalid':bodyVar.touched && !bodyVar.valid}" autocomplete="off"
                            ></textarea>
                        </div>
                        <span class="text-invalid-textarea" *ngIf="bodyVar.touched && bodyVar.errors?.required">Unesite sadržaj notifikacije</span>
                        <span class="text-invalid-textarea" *ngIf="bodyVar.touched && bodyVar.errors?.minlength">Sadržaj notifikacije mora imati minimalno 5 karaktera</span>
                        <button type="submit" class="btn btn-success submit-button">Pošalji</button>
                        <button class="btn btn-danger submit-button ml-3">Odustani</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>












