<div class="container candidate-main">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/candidate-pages/candidate-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/lectures-summary']" routerLinkActive="router-link-active">Pregled obuke</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/lectures-times']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/candidate-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="personal-data">
            <h5>Lični podaci</h5>
            <div class="row">
                <div class="col-md-2">
                    <div class="image-wrapper">
                        <img src="{{candidate.slika}}" alt="avatar">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="data-group">
                                <span class="header">Ime:</span>
                                <p id="ime">{{candidate.ime}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Prezime:</span>
                                <p id="prezime">{{candidate.prezime}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Ime oca:</span>
                                <p id="imeOca">{{candidate.imeOca}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">JMBG:</span>
                                <p id="jmbg">{{candidate.jmbg}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Mjesto rođenja:</span>
                                <p id="mjestoRodjenja">{{candidate.mjestoRodjenja}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="data-group">
                                <span class="header">Državljanstvo:</span>
                                <p id="drzavljanstvo">{{candidate.drzavljanstvo}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Broj lk:</span>
                                <p id="brojLk">{{candidate.brojLk}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Broj telefona:</span>
                                <p id="telefon">{{candidate.telefon}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Email adresa:</span>
                                <p id="emailAdresa">{{candidate.emailAdresa}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Instruktor:</span>
                                <p id="instruktor">{{candidate.instructorImePrezime}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="other-data">
            <h5>Ostali podaci</h5>
            <div class="row">
                <div class="tables">
                    <div class="panel-headers">
                        <button type="button" class="btn btn-success panel-button" (click)="showTable('uplate')">Uplate</button>
                        <button type="button" class="btn btn-success panel-button" (click)="showTable('ispiti')">Ispiti</button>
                        <button type="button" class="btn btn-success panel-button" (click)="showTable('dokumenti')">Dokumenti</button>
                    </div>
                    <table id="uplate"  *ngIf="showUplate">
                        <thead>
                            <tr>
                                <th>Datum uplate</th>
                                <th>Iznos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of payments">
                                <td>{{payment.datum | date: 'd/M/yyyy'}}</td>
                                <td>{{payment.iznos | number:'1.2-2'}}KM</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr id="ukupno">
                                <td>Ukupno uplaćeno</td>
                                <td>{{paymentsSum | number:'1.2-2'}}KM</td>
                            </tr>
                            <tr id="preostalo">
                                <td>Preostali dug</td>
                                <td>{{(1020 - paymentsSum) | number:'1.2-2'}}KM</td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="ispiti" *ngIf="showIspiti">
                        <tr>
                            <th>Datum polaganja</th>
                            <th>Termin</th>
                            <th>Uspjeh</th>
                        </tr>
                        <tr *ngFor="let exam of exams">
                            <td>{{exam.datum.day}}/{{exam.datum.month}}/{{exam.datum.year}}</td>
                            <td>{{exam.termin.hour}}:{{exam.termin.minute}}</td>
                            <td [ngClass]="{'success':exam.uspjeh, 'failure':!exam.uspjeh}">{{exam.uspjeh ? "Položio" : "Pao"}}</td>
                        </tr>
                    </table>
                    <div id="dokumenti" *ngIf="showDokumenti">
                        <a href="#" *ngFor="let document of documents">{{document}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











