<div class="container add-candidate">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/main']" routerLinkActive="router-link-active" >Početna</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/admin-candidate/candidates-list']" routerLinkActive="router-link-active" >Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-instructor/instructors-list']" routerLinkActive="router-link-active" >Instruktori</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-vehicle/vehicles-list']" routerLinkActive="router-link-active" >Vozila</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin-notification/notifications-list']" routerLinkActive="router-link-active" >Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
       <div class="col-md-8">
            <form (ngSubmit)="submitAddCandidateForm(addCandidateForm)"
            #addCandidateForm="ngForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="image-wrapper">
            
                        </div>
                        <button type="button" class="btn btn-success submit-image-button">Nova slika</button>
                    </div>
                    <div class="col-md-9">
                        <h5>Lični podaci</h5>
                        <div class="form-group">
                            <label for="ime">Ime:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" 
                            id="ime" aria-describedby="ime" 
                            placeholder="Ime"
                            required
                            minlength="3"
                            [(ngModel)] = "candidate.ime"
                            name="ime"
                            #imeVar = "ngModel"
                            [ngClass]="{'input-invalid':imeVar.touched && !imeVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="imeVar.touched && imeVar.errors?.required">Unesite ime</span>
                        <span class="text-invalid" *ngIf="imeVar.touched && imeVar.errors?.minlength">Ime mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="prezime">Prezime:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" 
                            id="prezime" 
                            placeholder="Prezime"
                            required
                            minlength="3"
                            [(ngModel)] = "candidate.prezime"
                            name="prezime"
                            #prezimeVar = "ngModel"
                            [ngClass]="{'input-invalid':prezimeVar.touched && !prezimeVar.valid}" autocomplete="off"/>
                        </div>
                        <span class="text-invalid" *ngIf="prezimeVar.touched && prezimeVar.errors?.required">Unesite prezime</span>
                        <span class="text-invalid" *ngIf="prezimeVar.touched && prezimeVar.errors?.minlength">Prezime mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="imeOca">Ime oca:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="fatherName" placeholder="Ime oca"
                            required
                            minlength="3"
                            [(ngModel)] = "candidate.imeOca"
                            name="imeOca"
                            #imeOcaVar = "ngModel"
                            [ngClass]="{'input-invalid':imeOcaVar.touched && !imeOcaVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="imeOcaVar.touched && imeOcaVar.errors?.required">Unesite ime oca</span>
                        <span class="text-invalid" *ngIf="imeOcaVar.touched && imeOcaVar.errors?.minlength">Ime oca mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="jmbg">JMBG:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="jmbg" placeholder="JMBG"
                            required
                            minlength="13"
                            maxlength="13"
                            [(ngModel)] = "candidate.jmbg"
                            name="jmbg"
                            #jmbgVar = "ngModel"
                            [ngClass]="{'input-invalid':jmbgVar.touched && !jmbgVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="jmbgVar.touched && jmbgVar.errors?.required">Unesite JMBG</span>
                        <span class="text-invalid" *ngIf="jmbgVar.touched && jmbgVar.errors?.minlength || jmbgVar.errors?.maxlength">JMBG mora imati tačno 13 karaktera</span>
                        <div class="form-group">
                            <label for="mjestoRodjenja">Mjesto rođenja:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="mjestoRodjenja"
                            placeholder="Mjesto rođenja"
                            required
                            minlength="2"
                            [(ngModel)] = "candidate.mjestoRodjenja"
                            name="mjestoRodjenja"
                            #mjestoRodjenjaVar = "ngModel"
                            [ngClass]="{'input-invalid':mjestoRodjenjaVar.touched && !mjestoRodjenjaVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="mjestoRodjenjaVar.touched && mjestoRodjenjaVar.errors?.required">Unesite mjesto rođenja</span>
                        <span class="text-invalid" *ngIf="mjestoRodjenjaVar.touched && mjestoRodjenjaVar.errors?.minlength">Mjesto rođenja mora imati minimalno 2 karaktera</span>
                        <div class="form-group">
                            <label for="drzavljanstvo">Državljanstvo:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" id="drzavljanstvo" 
                            placeholder="Državljanstvo"
                            required
                            minlength="3"
                            [(ngModel)] = "candidate.drzavljanstvo"
                            name="drzavljanstvo"
                            #drzavljanstvoVar = "ngModel"
                            [ngClass]="{'input-invalid':drzavljanstvoVar.touched && !drzavljanstvoVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="drzavljanstvoVar.touched && drzavljanstvoVar.errors?.required">Unesite državljanstvo</span>
                        <span class="text-invalid" *ngIf="drzavljanstvoVar.touched && drzavljanstvoVar.errors?.minlength">Državljanstvo mora imati minimalno 3 karaktera</span>
                        <div class="form-group">
                            <label for="brojLk">Broj lk/pasoša:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" 
                            id="brojLk" 
                            placeholder="Broj lk/pasoša"
                            required
                            minlength="7"
                            [(ngModel)] = "candidate.brojLk"
                            name="brojLk"
                            #brojLkVar = "ngModel"
                            [ngClass]="{'input-invalid':brojLkVar.touched && !brojLkVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="brojLkVar.touched && brojLkVar.errors?.required">Unesite broj lk/pasoša</span>
                        <span class="text-invalid" *ngIf="brojLkVar.touched && brojLkVar.errors?.minlength">Broj lk/pasoša mora imati minimalno 7 karaktera</span>
                        <div class="form-group">
                            <label for="telefon">Broj telefona:<span class="required-flag">*</span></label>
                            <input type="text" class="form-control" 
                            id="telefon" 
                            placeholder="Broj telefona"
                            required
                            minlength="9"
                            [(ngModel)] = "candidate.telefon"
                            name="telefon"
                            #telefonVar = "ngModel"
                            [ngClass]="{'input-invalid':telefonVar.touched && !telefonVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="telefonVar.touched && telefonVar.errors?.required">Unesite broj telefona</span>
                        <span class="text-invalid" *ngIf="telefonVar.touched && telefonVar.errors?.minlength">Broj telefona mora imati minimalno 9 cifara</span>
                        <br>
                        <div class="form-group">
                            <label for="emailAdresa">Email adresa:<span class="required-flag">*</span></label>
                            <input type="email" class="form-control" 
                            id="emailAdresa" 
                            placeholder="Email adresa"
                            required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            minlength="6"
                            [(ngModel)] = "candidate.emailAdresa"
                            name="emailAdresa"
                            #emailAdresaVar = "ngModel"
                            [ngClass]="{'input-invalid':emailAdresaVar.touched && !emailAdresaVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="emailAdresaVar.touched && (emailAdresaVar.errors?.required || emailAdresaVar.errors?.pattern)">Unesite validnu email adresu</span>
                        <span class="text-invalid" *ngIf="emailAdresaVar.touched && emailAdresaVar.errors?.minlength">Email adresa mora imati minimalno 6 karaktera</span>
                        <div class="form-group">
                            <label for="lozinka">Lozinka:<span class="required-flag">*</span></label>
                            <input type="password" class="form-control" 
                            id="lozinka" 
                            placeholder="Lozinka"
                            required
                            minlength="5"
                            [(ngModel)] = "candidate.lozinka"
                            name="lozinka"
                            #lozinkaVar = "ngModel"
                            [ngClass]="{'input-invalid':lozinkaVar.touched && !lozinkaVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="lozinkaVar.touched && !lozinkaVar.valid">Unesite lozinku dužine minimalno 5 karaktera</span>
                        <div class="form-group">
                            <label for="ponovljenaLozinka">Ponovljena lozinka:<span class="required-flag">*</span></label>
                            <input type="password" class="form-control"
                            id="ponovljenaLozinka" 
                            placeholder="Ponovljena lozinka"
                            required
                            minlength="5"
                            [(ngModel)] = "candidate.ponovljenaLozinka"
                            name="ponovljenaLozinka"
                            #ponovljenaLozinkaVar = "ngModel"
                            [ngClass]="{'input-invalid':ponovljenaLozinkaVar.touched && !ponovljenaLozinkaVar.valid}"/>
                        </div>
                        <span class="text-invalid" *ngIf="ponovljenaLozinkaVar.touched && !ponovljenaLozinkaVar.valid">Lozinka nije identična prethodno unesenoj</span>
                        <div class="form-group">
                            <label for="instructorImePrezime">Instruktor:</label>
                            <input type="text" class="form-control" 
                            id="instructorImePrezime" 
                            placeholder="Odaberi instruktora preko Instruktori taba"
                            [(ngModel)] = "candidate.instructorImePrezime"
                            name="zaduzenoVozilo" disabled/>
                        </div>
            
                        <button type="submit" class="btn btn-success submit-button">Sačuvaj</button>
                        <button class="btn btn-danger submit-button ml-3" [routerLink]="['/admin-candidate/candidates-list']" routerLinkActive="router-link-active">Odustani</button>
                    </div>
                </div>
            </form>
       </div>
       <div class="col-md-4">
          <app-side-panels></app-side-panels>
        </div>
    </div>
</div>