<div class="container instructor-main">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/instructor-pages/instructor-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/candidates']" routerLinkActive="router-link-active">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/vehicle']" routerLinkActive="router-link-active">Vozilo</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/lectures']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/instructor-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="personal-data">
            <h5>Lični podaci</h5>
            <div class="row">
                <div class="col-md-2">
                    <div class="image-wrapper">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="data-group">
                                <span class="header">Ime:</span>
                                <p id="ime">{{instructor.ime}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Prezime:</span>
                                <p id="prezime">{{instructor.prezime}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Ime oca:</span>
                                <p id="imeOca">{{instructor.imeOca}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">JMBG:</span>
                                <p id="jmbg">{{instructor.jmbg}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Mjesto rođenja:</span>
                                <p id="mjestoRodjenja">{{instructor.mjestoRodjenja}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Državljanstvo:</span>
                                <p id="drzavljanstvo">{{instructor.drzavljanstvo}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="data-group">
                                <span class="header">Broj lk:</span>
                                <p id="brojLk">{{instructor.brojLk}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Broj dozvole:</span>
                                <p id="brojDozvole">{{instructor.brojDozvole}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Zaduženo vozilo:</span>
                                <p id="zaduzenoVozilo">{{instructor.zaduzenoVozilo}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Broj telefona:</span>
                                <p id="telefon">{{instructor.telefon}}</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Email adresa:</span>
                                <p id="emailAdresa">{{instructor.emailAdresa}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="education-data">
            <h5>Seminari</h5>
            <div class="row">
                <table id="education">
                    <tr>
                        <th>Datum pohađanja</th>
                        <th>Tema</th>
                        <th>Predavač</th>
                    </tr>
                    <tr *ngFor="let seminar of seminari">
                        <td>{{seminar.datum.day}}/{{seminar.datum.month}}/{{seminar.datum.year}}</td>
                        <td>{{seminar.tema}}</td>
                        <td>{{seminar.predavac}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="documents-data">
            <h5>Dokumenti</h5>
            <div class="row">
                <div id="documents">
                    <a href="#" *ngFor="let document of documents">{{document}}</a>
                </div>
            </div>
        </div>
    </div>
</div>










