<div class="container candidates-list">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link">Vozilo</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="main-content">
        <div class="personal-data">
            <h5>Lični podaci</h5>
            <div class="row">
                <div class="col-md-2">
                    <div class="image-wrapper">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="data-group">
                                <span class="header">Ime:</span>
                                <p id="ime"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Prezime:</span>
                                <p id="prezime"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Ime oca:</span>
                                <p id="imeOca"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">JMBG:</span>
                                <p id="jmbg"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Mjesto rođenja:</span>
                                <p id="mjestoRodjenja">AAAA</p>
                            </div>
                            <div class="data-group">
                                <span class="header">Državljanstvo:</span>
                                <p id="drzavljanstvo"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="data-group">
                                <span class="header">Broj lk:</span>
                                <p id="brojLk"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Broj dozvole:</span>
                                <p id="brojDozvole"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Zaduženo vozilo:</span>
                                <p id="zaduzenoVozilo"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Broj telefona:</span>
                                <p id="telefon"></p>
                            </div>
                            <div class="data-group">
                                <span class="header">Email adresa:</span>
                                <p id="emailAdresa"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="education-data">
            <h5>Seminari</h5>
            <div class="row">
                <table id="education">
                    <tr>
                        <th>Datum pohađanja</th>
                        <th>Tema</th>
                        <th>Predavač</th>
                    </tr>
                    <tr>
                        <td>01.12.2020.</td>
                        <td>Saobraćajne nezgode</td>
                        <td>Refik Ahmetović</td>
                    </tr>
                    <tr>
                        <td>08.12.2020.</td>
                        <td>Održavanje vozila</td>
                        <td>Sead Fijuljanin</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="documents-data">
            <h5>Dokumenti</h5>
            <div class="row">
                <div id="documents">
                    <a href="#">kopija_lk.pdf</a>
                    <a href="#">CIPS_prijava.pdf.pdf</a>
                    <a href="#">ljekarsko_uvjerenje.pdf</a>
                    <a href="#">kopija_dozvole.pdf</a>
                </div>
            </div>
        </div>
    </div>
</div>










