<div class="container candidate-lectures-summary">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/candidate-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/candidate-pages/lectures-summary']" routerLinkActive="router-link-active">Pregled obuke</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/lectures-times']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/candidate-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-12">
            <div class="headers d-flex">
                <h5>Pregled obuke</h5>
                <h5 class="ml-auto mr-2">Preostalo časova: {{preostaloCasova}}</h5>
            </div>
            <div class="table">
                <table id="obuka">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Završeni časovi</th>
                            <th>Tema</th>
                            <th>Ruta</th>
                            <th>Komentar</th>
                            <th>Ocjena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lecture of lectures">
                            <td>{{lecture.datum.day}}/{{lecture.datum.month}}/{{lecture.datum.year}}</td>
                            <td>{{lecture.zavrseniCasovi }}</td>
                            <td>{{lecture.tema }}</td>
                            <td>{{lecture.ruta }}</td>
                            <td>{{lecture.komentar }}</td>
                            <td>{{lecture.ocjena }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






