<div class="container candidate-lectures-summary">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/candidate-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/candidate-pages/lectures-summary']" routerLinkActive="router-link-active">Pregled obuke</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/candidate-pages/lectures-times']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/candidate-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-12">
            <div class="headers d-flex">
                <h5>Pregled obuke</h5>
                <h5 class="ml-auto mr-2">Preostalo časova: 10</h5>
            </div>
            <div class="table">
                <table id="obuka">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Završeni časovi</th>
                            <th>Tema</th>
                            <th>Ruta</th>
                            <th>Komentar</th>
                            <th>Ocjena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.
                            </td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>4</td>
                            <td>Kretanje i zaustavljanje</td>
                            <td>Poligon</td>
                            <td>Dobar osjećaj za kvačilo. Ne gledati u mjenjač.</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>02.05.2021.</td>
                            <td>2</td>
                            <td>Dnevni pregled vozila i upoznavanje vozila</td>
                            <td>Poligon</td>
                            <td>Dobro shvatanje</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






