.add-notification {
    &.container {
        background-color: #D6C7D4;
        height: 95vh;
        border: 1px solid gray;
        border-radius: 6px;
        margin-top: 20px;
        .navbar-container {
            border-radius: 10px;
            border: 1px solid grey;
            background-color: #E4D9E2;
            .logo-wrapper {
                margin-top: 10px;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                    margin-left: 10px;
                }
                h3 {
                    margin-right: 40px;
                    margin-top: 5px;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            .navbar-wrapper {
                .nav {
                    font-size: 1rem;
                    .border {
                        margin-top: 15px;
                        height: 20px;
                        width: 4px;
                        background-color: brown;
                    }
                    .nav-item {
                        margin-bottom: 5px;
                        margin-top: 5px;
                        .nav-link {
                            color: black;
                            font-weight: bold;
                        }
                        .active {
                            border-bottom: 3px solid brown;
                        }
                    }
                }
            }
            .logout {
               a {
                   display: inline-block;
                   color: black;
                   font-size: 1rem;
                   font-weight: bold;
                   margin-top: 15px;
                   margin-left: 250px;
               }
            }
        }
        .main-content {
            margin-top: 25px;
            .col-md-8 {
                margin-left: auto;
                margin-right: auto;
                form {
                    .col-md-12 {
                        h5 {
                            font-weight: bold;
                            width: 180px;
                            margin: 30px auto 20px auto;
                        }
                        .form-group {
                            display: flex;
                            align-items: center;
                            margin-bottom: 7px;
                            label {
                                width: 80px;
                                margin-right: 10px;
                            }
                            input {
                                width: 75%;
                                height: 40px;
                                font-size: 1rem;
                                border-radius: 6px;
                                background-color: #E4D9E2;
                                margin-bottom: 20px;;
                            }
                            textarea {
                                border-radius: 6px;
                                background-color: #E4D9E2;
                            }
                        }

                        .submit-button {
                            margin-top: 30px;
                            min-width: 150px;
                            &:first-of-type {
                                margin-left: 220px;
                            }
                        }
                    }
                }
            }
            .col-md-4 {
                .content-wrapper {
                    .notifications-wrapper {
                        background-color: #FCF6F6;
                    }
                    .reminders-wrapper {
                        background-color: #FCF6F6;
                        .input-wrapper {
                            .reminder-input {
                                border-radius: 6px;
                                margin-left: 10px;
                                margin-right: 10px;
                                padding-left: 10px;
                                background-color: #F0EEEE;
                            }
                            .fas:nth-of-type(2) {
                                color: red;
                                font-size: 1.2rem;
                            }
                        }
                
                        .add-reminder {
                            background-color: rgb(128,128,128);
                        }
                    }
                }
            }
        }
    }
}


