/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
body {
    height: 100vh;
    background-color: rgb(245,245,245);
}

.required-flag {
    color: red;
}

.input-invalid {
    border: 1px solid red !important;
}

.success {
    color: green;
    font-weight: bold;
}

.failure {
    color: red;
    font-weight: bold;
}

.active-button {
    box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
}
