<div class="container add-candidate">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/main']" routerLinkActive="router-link-active" >Početna</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/admin-candidate/candidates-list']" routerLinkActive="router-link-active" >Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-instructor/instructors-list']" routerLinkActive="router-link-active" >Instruktori</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-vehicle/vehicles-list']" routerLinkActive="router-link-active" >Vozila</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin-notification/notifications-list']" routerLinkActive="router-link-active" >Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
       <div class="col-md-8">
           <form>
                <div class="row">
                    <div class="col-md-3">
                        <div class="image-wrapper">
    
                        </div>
                        <button type="submit" class="btn btn-success submit-image-button">Nova slika</button>
                    </div>
                    <div class="col-md-9">
                        <h5>Lični podaci</h5>
                        <div class="form-group">
                            <label for="ime">Ime:</label>
                            <input type="text" class="form-control" id="ime" aria-describedby="ime" placeholder="Ime">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="prezime">Prezime:</label>
                            <input type="text" class="form-control" id="prezime" placeholder="Prezime">
                        </div>
                        <div class="form-group">
                            <label for="imeOca">Ime oca:</label>
                            <input type="text" class="form-control" id="imeOca" placeholder="Ime oca">
                        </div>
                        <div class="form-group">
                            <label for="jmbg">JMBG:</label>
                            <input type="text" class="form-control" id="jmbg" placeholder="JMBG">
                        </div>
                        <div class="form-group">
                            <label for="mjestoRodjenja">Mjesto rođenja:</label>
                            <input type="text" class="form-control" id="mjestoRodjenja" placeholder="Mjesto rođenja">
                        </div>
                        <div class="form-group">
                            <label for="drzavljanstvo">Državljanstvo:</label>
                            <input type="text" class="form-control" id="drzavljanstvo" placeholder="Državljanstvo">
                        </div>
                        <div class="form-group">
                            <label for="brojLk">Broj lk:</label>
                            <input type="text" class="form-control" id="brojLk" placeholder="Broj lk">
                        </div>
                        <div class="form-group">
                            <label for="telefon">Broj telefona:</label>
                            <input type="text" class="form-control" id="telefon" placeholder="Broj telefona">
                        </div>
                        <div class="form-group">
                            <label for="emailAdresa">Email adresa:</label>
                            <input type="email" class="form-control" id="emailAdresa" placeholder="Email adresa">
                        </div>
                    </div>
                    <div class="tables">
                        <div class="panel-headers">
                            <button type="submit" class="btn btn-success panel-button">Uplate</button>
                            <button type="submit" class="btn btn-success panel-button">Ispiti</button>
                            <button type="submit" class="btn btn-success panel-button">Dokumenti</button>
                        </div>
                        <div class="add-section uplate">
                            <a><i class="fas fa-plus-circle mr-2"></i></a>
                            <a><i class="fas fa-times-circle"></i></a>
                        </div>
                        <!-- <div class="add-section ispiti">
                            <a><i class="fas fa-plus-circle mr-2"></i></a>
                            <a><i class="fas fa-times-circle"></i></a>
                        </div>
                        <div class="add-section uplate dokumenti">
                            <a><i class="fas fa-plus-circle mr-2"></i></a>
                            <a><i class="fas fa-times-circle"></i></a>
                        </div> -->
                        <table id="uplate">
                            <thead>
                                <tr>
                                    <th>Datum uplate</th>
                                    <th>Iznos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12.10.2020.</td>
                                    <td>300,00KM</td>
                                </tr>
                                <tr>
                                    <td>30.11.2020.</td>
                                    <td>120,00KM</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr id="ukupno">
                                    <td>Ukupno uplaćeno</td>
                                    <td>420,00KM</td>
                                </tr>
                                <tr id="preostalo">
                                    <td>Preostali dug</td>
                                    <td>600,00KM</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <table id="ispiti">
                            <tr>
                                <th>Datum polaganja</th>
                                <th>Termin</th>
                                <th>Uspjeh</th>
                            </tr>
                            <tr>
                                <td>01.12.2020.</td>
                                <td>09:30</td>
                                <td>pao</td>
                            </tr>
                            <tr>
                                <td>08.12.2020.</td>
                                <td>12:00</td>
                                <td>položio</td>
                            </tr>
                        </table> -->
                        <!-- <div id="dokumenti">
                            <a href="#">kopija_lk.pdf</a>
                            <a href="#">CIPS_prijava.pdf.pdf</a>
                            <a href="#">ljekarsko_uvjerenje.pdf</a>
                            <a href="#">potvrda_CK.pdf</a>
                            <a href="#">potvrda_propisi.pdf</a>
                        </div> -->
                    </div>
                    <div class="submit-buttons-section">
                        <button type="submit" class="btn btn-success submit-button">Sačuvaj</button>
                        <button type="submit" class="btn btn-danger submit-button ml-3">Odustani</button>
                    </div>
                </div>
            </form>
       </div>
       <div class="col-md-4">
          <app-side-panels></app-side-panels>
        </div>
    </div>
</div>





