<div class="container candidate-page">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/instructor-main']" routerLinkActive="router-link-active">Profil</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/instructor-pages/candidates']" routerLinkActive="router-link-active">Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/vehicle']" routerLinkActive="router-link-active">Vozilo</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/instructor-pages/lectures']" routerLinkActive="router-link-active">Termini</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/instructor-pages/notifications']" routerLinkActive="router-link-active">Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a [routerLink]="['/login']">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-12">
            <div class="headers d-flex">
                <h5>Obuka kandidata: <span>{{candidate.ime}} {{candidate.prezime}}</span></h5>
            </div>
            <h5>Preostalo časova: <span>{{preostaloCasova}}</span></h5>
            <div class="table">
                <table id="obuka">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Završeni časovi</th>
                            <th>Tema</th>
                            <th>Ruta</th>
                            <th>Komentar</th>
                            <th>Ocjena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lecture of lectures">
                            <td>{{lecture.datum.day}}/{{lecture.datum.month}}/{{lecture.datum.year}}</td>
                            <td>{{lecture.zavrseniCasovi }}</td>
                            <td>{{lecture.tema }}</td>
                            <td>{{lecture.ruta }}</td>
                            <td>{{lecture.komentar }}</td>
                            <td>{{lecture.ocjena }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="new-comment">
                <button type="button" class="btn btn-success panel-button" *ngIf="!newDataInputVisible" (click)="shownewDataInput()">Dodaj podatke</button>
                <button type="button" class="btn btn-secondary panel-button"  style="margin-left: 780px" [routerLink]="['/instructor-pages/candidates']" *ngIf="!newDataInputVisible">Nazad</button>
                <form id="newCommentForm" *ngIf="newDataInputVisible" (ngSubmit)="submitAddDataForm(addDataForm)"
                #addDataForm="ngForm">
                    <h5>Dodaj nove podatke:</h5>
                    <div class="row justify-content-start">
                        <div class="form-group datepicker">
                            <div class="input-group">
                                <input class="form-control" placeholder="datum"
                                    name="dp" [(ngModel)]="newData.datum" ngbDatepicker #d="ngbDatepicker"  required title="Unesite datum obuke">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                        <input type="text" placeholder="Završeni časovi" title="Broj odvoženih časova dosad"
                        required
                        [(ngModel)] = "newData.zavrseniCasovi"
                        name="zavrseniCasovi"
                        #zavrseniCasoviVar = "ngModel"
                        [ngClass]="{'input-invalid':zavrseniCasoviVar.touched && !zavrseniCasoviVar.valid}">
                        <input type="text" placeholder="Tema" title="Unesite temu obuke"
                        required
                        [(ngModel)] = "newData.tema"
                        name="tema"
                        #temaVar = "ngModel"
                        [ngClass]="{'input-invalid':temaVar.touched && !temaVar.valid}">
                        <input type="text" placeholder="Ruta" title="Unesite rutu koja je vožena"
                        required
                        [(ngModel)] = "newData.ruta"
                        name="ruta"
                        #rutaVar = "ngModel"
                        [ngClass]="{'input-invalid':rutaVar.touched && !rutaVar.valid}">
                        <input type="text" placeholder="Komentar" title="Unesite komentar obuke"
                        [(ngModel)] = "newData.komentar"
                        name="komentar">
                        <input type="text" placeholder="Ocjena" title="Unesite ocjenu obuke"
                        [(ngModel)] = "newData.ocjena"
                        name="ocjena">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn btn-success mr-2">Dodaj</button>
                        <button type="button" class="btn btn-danger" (click)="cancelAddData()">Odustani</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





