<div class="container add-vehicle">
    <div style="height: 10px;"></div>
    <div class="navbar-container d-flex">
        <div class="logo-wrapper d-flex">
            <img src="../../assets/images/logo.png" alt="logo" >
            <h3>e-autoškola</h3>
        </div>
        <div class="navbar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/main']" routerLinkActive="router-link-active" >Početna</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-candidate/candidates-list']" routerLinkActive="router-link-active" >Kandidati</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin-instructor/instructors-list']" routerLinkActive="router-link-active" >Instruktori</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/admin-vehicle/vehicles-list']" routerLinkActive="router-link-active" >Vozila</a>
                </li>
                <div class="border"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin-notification/notifications-list']" routerLinkActive="router-link-active" >Notifikacije</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="#">Odjavi se</a>
        </div>
    </div>
    <div class="row main-content">
       <div class="col-md-8">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <div class="image-wrapper">
            
                        </div>
                        <button type="submit" class="btn btn-success submit-image-button">Nova slika</button>
                    </div>
                    <div class="col-md-9">
                        <h5>Podaci o vozilu</h5>
                        <div class="form-group">
                            <label for="vrstaVozila">Vrsta vozila:</label>
                            <input type="text" class="form-control" id="vrstaVozila" aria-describedby="vrstaVozila" placeholder="Vrsta vozila">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="marka">Marka:</label>
                            <input type="text" class="form-control" id="marka" placeholder="Marka">
                        </div>
                        <div class="form-group">
                            <label for="tip">Tip:</label>
                            <input type="text" class="form-control" id="tip" placeholder="Tip">
                        </div>
                        <div class="form-group">
                            <label for="brojSasije">Broj šasije:</label>
                            <input type="text" class="form-control" id="brojSasije" placeholder="Broj šasije">
                        </div>
                        <div class="form-group">
                            <label for="brojMotora">Broj motora:</label>
                            <input type="text" class="form-control" id="brojMotora" placeholder="Broj motora">
                        </div>
                        <div class="form-group">
                            <label for="gorivo">Gorivo:</label>
                            <input type="text" class="form-control" id="gorivo" placeholder="Gorivo">
                        </div>
                        <div class="form-group">
                            <label for="registarskaOznaka">Registarska oznaka:</label>
                            <input type="text" class="form-control" id="registarskaOznaka" placeholder="Registarska oznaka">
                        </div>
                        <div class="form-group">
                            <label for="godinaProizvodnje">Godina proizvodnje:</label>
                            <input type="text" class="form-control" id="godinaProizvodnje" placeholder="Godina proizvodnje">
                        </div>
                        <div class="form-group">
                            <label for="datumRegistracije">Datum registracije:</label>
                            <input type="text" class="form-control" id="datumRegistracije" placeholder="Datum registracije">
                        </div>
                        <div class="form-group">
                            <label for="saobracajnaDozvola">Saobraćajna dozvola:</label>
                            <input type="text" class="form-control" id="saobracajnaDozvola" placeholder="Saobraćajna dozvola">
                        </div>
                        <div class="form-group">
                            <label for="vlasnicka">Potvrda o vlasništvu</label>
                            <input type="text" class="form-control" id="vlasnicka" placeholder="Potvrda o vlasništvu">
                        </div>
            
                        <button type="submit" class="btn btn-success submit-button">Sačuvaj</button>
                        <button class="btn btn-danger submit-button ml-3" [routerLink]="['/admin-vehicle/vehicles-list']" routerLinkActive="router-link-active">Odustani</button>
                    </div>
                </div>
            </form>
       </div>
       <div class="col-md-4">
          <app-side-panels></app-side-panels>
        </div>
    </div>
</div>
